.ipynb_checkpoints/
*.egg-info/
__pycache__
.DS_Store

data/processed/*
data/raw/*
review_data/*
single_read_supp/*
.vscode/*

figures/*

# Backup to catch any known data file types that should not be committed.
*.bed
*.bam
*.tsv
*.bed.gz
*.bed.gz.tbi
*.pkl
*.h5
*.broadPeak
*.wig
*.fai
*.txt

config.toml
!**/README.md
